.flex{
  display: flex;
  
}

.img{
align-self: center;
}

.p-1{
  padding: 0.75rem;
}

.flex-0{
  flex: 1 1;
  height: 100vh;
}

.flex-col{
  flex-direction: column;
}
.flex-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(47, 45, 179);
}
.flex-2{
  flex-direction: column;
}
.flex-3{
  align-items: flex-end;
}
.bg-orange{
  background-color: coral;
}
.mg-1{
  margin: 8px;
}
.h-1{
  height: 2rem;
}
.bg-red{
  background-color: red;
}
*,:active,:before{
  box-sizing: border-box;
}
.flex-4{
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.topbar{
  width: 100%;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: chartreuse;
}
.topbar-box{
  background-color: white;
  width: 100px;
  margin: 1%;
}
.top-image{
  margin-right: 24px;
}
.bottombar{
  margin: 23px;
  display: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:25px;
}

.grid-bottom{
  display: grid;
    width: 100%;
    height: 272px;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
}
.froggy{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: aqua;
  padding: 1rem;
}
.froggy-box{
  width: 100%;
  height: 45px;
  background-color: cadetblue;
}
.boxes{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 19rem;
  gap: 10px
}
.box-1{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 11px;
  gap: 12px;
  background-color: darkturquoise;
}
.box-2{
  width: 50%;
  background-color: darkturquoise;
}
.box-3{
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box-4{
  height: 80%;
  background: blue;
    margin: 7px;
}
.innerboxes-3{
  height: 2.5rem;
  width: 30%;
  background-color: cornflowerblue
}
.grid-box{
  background-color: burlywood;
}